
################################################################################
# GITIGNORE FILE
################################################################################

desktop.ini

# build data / generated data / etc...
[Tt][Ee][Mm][Pp]/

build
final
release.zip

# vs cache data
tools/debug/.vs/
tools/debug/enc_temp_folder/
